* text eol=lf

gradle/verification-metadata.xml linguist-generated
*.lockfile linguist-generated
gradle/wrapper/gradle-wrapper.jar linguist-vendored
gradlew* linguist-vendored

# Always Windows-style line endings
*.bat	text eol=crlf
*.cmd	text eol=crlf

# Always binary
*.jpg	-text
*.ogg	-text
*.png	-text
*.xcf	-text
*.jks   -text
