on:
  release:
    types:
      - published

jobs:
  upload-to-modrinth:
    runs-on: ubuntu-latest
    steps:
      - uses: dsaltares/fetch-gh-release-asset@master
        with:
          version: ${{ github.event.release.id }}
          regex: true
          file: ".*\.jar"
          token: ${{ secrets.GITHUB_TOKEN }}
      - run: |
          printf %s "$CHANGELOG" > CHANGELOG.md
        env:
          CHANGELOG: ${{ github.event.release.body }}
      - uses: Kir-Antipov/mc-publish@v3.3
        with:
          modrinth-id: GGamhqbw
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}
          files: "*.jar"
          loaders: forge
          game-versions: 1.8.9
          version: ${{ github.event.release.tag_name }}
          # TODO: version-type: release
